html {
    margin: 1rem auto;
    width: 70%;
    display: block;
    font-family: 'Alata', sans-serif;
}

h1 {
    font-family: 'Alata', sans-serif;
    font-size: 5rem;
    text-align: center;
    display: table;
    margin: 0 auto;
    padding: 0 2rem 1rem;
    border: 4px dotted purple;
}

h2 {
    text-decoration: underline overline double purple;;
}

p {
    border: 1px solid black;
    padding: 0.5rem;
}

p::first-line {
    font-weight: bold;
    color: purple;
}

footer {
    text-align: right;
}